html {
  font-size: 18px;
  font-family: helvetica, sans-serif;
}


header {
  padding: 12px 0 12px 0.5em;
  background-color: black;
  font-size: .9rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

header img {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.banner {
  background-image: url(.././images/moto.JPEG);
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;

}

.banner-text {
  background-color: black;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  color: white;
  position: relative;
  top: 9em;
  left: 10%;
}

.new-arrival {
  padding-bottom: .25rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  display: block;

}

.headline {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  display: block;

}

#title {
  padding-left: 200px;
}

nav {
  background-color: firebrick;
  color: white;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px 40px 20px 40px;
}

.mobile-nav {
  display: none;
}


.all-products {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-top: 3rem;
}

.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img{
  max-width: 8em;
}

.product-pen, .product-watch, .product-glasses {
  width: 30%;
}

.caption {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.business-info {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-top: 3rem;

}

.info {
  width: 35%;
}

.title {
  display: block;
  padding-left: 2rem;
  color: white;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}


/*FOOOOOOOOOOOOOOOOOOOOOOOTER*/

footer {
  background-color: black;
  color: white;

  padding: 5em 0;
  margin-top: 4em;
}



/*Begin Media Queries*/
@media only screen and (max-width: 1024px) {

.banner-text {
    position: relative;
    top: 9em;
    left: 0%;
  }


.info {
  width: 35%;
}

.product-glasses {
  display: none;
}

.product-pen, .product-watch {
  width: 47%;
}

.mobile-nav {
  display: block;
}

.desktop-nav {
  display: none;
}


} /*end 1024 media query */


@media only screen and (max-width: 470px) {

.banner {
  height: 15rem;
}

.banner-text {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    color: white;
    position: relative;
    top: 9em;
    left: 0%;
  }


.new-arrival {
    font-size: .77rem;
}

.headline {
    font-size: 1rem;
}

.all-products {
  justify-content: center;
}

.product-watch {
  display: none;
}

.product-pen {
  width: 90%;
}

.business-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info {
  padding-top: .5rem;
  padding-bottom: 0rem;
  width: 90%;

}



}
