html {
  font-size: 18px;
  font-family: helvetica, sans-serif;
}


header {
  padding: 12px 0 12px 0.5em;
  background-color: black;
  font-size: .9rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

header img {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.banner {
  background-image: url(.././images/moto.JPEG);
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;

}

.banner-text {
  background-color: black;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  color: white;
  position: relative;
  top: 9em;
  left: 10%;
}

.new-arrival {
  padding-bottom: .25rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  display: block;

}

.headline {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  display: block;

}

#title {
  padding-left: 200px;
}

nav {
  background-color: firebrick;
  color: white;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px 40px 20px 40px;
}


.all-products {
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.product-image img{
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 8rem;
}

.product-pen, .product-watch, .product-glasses {
  border-style: solid;
  border-width: medium;
  width: 30%;
  overflow: hidden;
}

.caption {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding: .5rem;
}

.container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}
